option_settings:
  aws:elasticbeanstalk:customoption:
    CacheNodeType : cache.t2.micro
    NumCacheNodes : 1
    Engine : redis
    CachePort : 6379
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: trumps.settings
    LOG_LEVEL: INFO
    DJANGO_LOG_FILE_PATH: /tmp/django-app.log