<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'basicgame/favicons/apple-touch-icon.png' %}">
    <link rel="icon" sizes="32x32" href="{% static 'basicgame/favicons/favicon.ico' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'basicgame/favicons/favicon.svg' %}">
    <link rel="manifest" href="{% static 'basicgame/favicons/site.webmanifest' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basicgame/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basicgame/css/variables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basicgame/css/base-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'basicgame/css/lobby-styles.css' %}">
    <title>Mates Rate Lobby</title>
</head>

<body>
    <img id="philosopher" src="{% static 'basicgame/favicons/android-chrome-512x512.png' %}" alt="logo of thinking philosopher">
    <div id="leave" class="modal">
        <div id="modal-content">
            <p>Return to the main menu?<br>If your cookie gets deleted, you will not be able to re-join.</p>
            <span id="close-leave">✖</span>
            <span id="yes-leave">✔</span>
        </div>
    </div>
    <div id="subtitle" class="small-label">Game ID:</div>
    <h2 class="big-text">{{game_name}}</h2>
    <div id="wait-message" class="small-label">Waiting for 3 or more players...</div>
    <input type="button" value="Start Game" id="start-game" class="big-buttons">
    <div class="loader" id="spinner"></div>
    <div id="player-log" class="side-bar"></div>
    <div id="chat-log"><i>Welcome to the Lobby!<br><br>Please chat whilst waiting<br>for the host to press start.</i><br><br></div>
    <input id="chat-message-input" class="text-input" type="text" placeholder="Say Hi!">
    <input id="chat-message-submit" type="button" value="Send">
    {{ game_name|json_script:"game-name" }}
    {{ host|json_script:"game-host" }}
    <script type="module" src="{% static 'basicgame/js/base.js' %}"></script>
    <script type="module" src="{% static 'basicgame/js/lobby.js' %}"></script>

</body>

</html>